*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 15pt;

    --el-width: 300px;
    --el-height: 40px;
}

html{
    height: 100%;
    background-image: linear-gradient(45deg, orange, rgb(245, 201, 121));
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper{
    margin: 15px 0px;
}

#wrapper-ui {
    padding: 50px;
}

#user-input{
    background-color: transparent;
    border: none;

    border-bottom: 1px black solid;
    border-image-source: linear-gradient(90deg, black , transparent 60%);
    border-image-slice: 1;

    width: var(--el-width);
    height: var(--el-height); 
}

#user-input:focus{
    transition: ease 2s;
    outline: none;
    border-image-source: linear-gradient(90deg, black 60%, transparent);
}

#btn-convert{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;

    width: var(--el-width);
    height: var(--el-height);
    
    transition-delay: 0.1s;
    transition: ease 500ms;
}

#btn-convert:hover{
    transition-delay: 0.1s;
    transition: ease 500ms;
    border-radius: 20px;
}